{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardian Path</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <button class="user-icon-btn" onclick="location.href='{% url 'login' %}'">
                <img src="{% static "img/profile-icon.png" %}" alt="프로필 아이콘">
            </button>
        </div>
        <h1 class="title">사용자 유형 선택</h1>
        <div class="user-types">
            <label class="user-type-label">
                <input type="radio" name="user-type" class="user-type-radio" value="general">
                <span class="user-type-btn"><img src="{% static "img/user-icon.png" %}" alt="일반 사용자 아이콘"> 일반 사용자</span>
            </label>
            <label class="user-type-label">
                <input type="radio" name="user-type" class="user-type-radio" value="elevator">
                <span class="user-type-btn"><img src="{% static "img/elevator-icon.png" %}" alt="엘리베이터 아이콘"> 엘리베이터 사용자</span>
            </label>
            <label class="user-type-label">
                <input type="radio" name="user-type" class="user-type-radio" value="escalator">
                <span class="user-type-btn"><img src="{% static "img/escalator-icon.png" %}" alt="에스컬레이터 아이콘"> 에스컬레이터 사용자</span>
            </label>
        </div>
        <div class="search-box">
            <div class="input-group">
                <label for="departure">출발지</label>
                <div class ="input-with-icon">
                    <img src="{% static "img/gps-icon.png" %}" alt="GPS 아이콘">
                    <input type="text" id="departure" placeholder="출발지 입력">
                </div>
            </div>
            <div class="input-group">
                <label for="destination">도착지</label>
                <div class ="input-with-icon">
                    <img src="{% static "img/gps-icon.png" %}" alt="GPS 아이콘">
                    <input type="text" id="destination" placeholder="도착지 입력">
                </div>
            </div>
            <button class="search-btn">검색</button>
        </div>
    </div>
</body>
</html>
