{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}" />
    <title>Password Change</title>
  </head>
  <body>
    <header>
      <!-- 메시지 출력 -->
      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message|safe }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </header>
    <div class="main">
      <div class="a-container" id="a-container">
        <!-- 비밀번호 변경 폼 -->
        <form class="form" id="change-password-form" method="POST">
          {% csrf_token %}
          <h2 class="form_title title">비밀번호 변경</h2>

          <span class="form__span">Please enter your new password</span>

          <label for="id_old_password">Old Password</label>
          <input class="form__input" id="id_old_password" name="old_password" type="password" placeholder="Old Password" required />

          <label for="id_new_password1">New Password</label>
          <input class="form__input" id="id_new_password1" name="new_password1" type="password" placeholder="New Password" required />

          <label for="id_new_password2">Confirm New Password</label>
          <input class="form__input" id="id_new_password2" name="new_password2" type="password" placeholder="Confirm New Password" required />

          <button class="form__button button submit" type="submit">변경하기</button>
        </form>
      </div>
    </div>
  </body>
</html>
