{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}" />
    <title>비밀번호 재설정</title>
  </head>
  <body>
    <header>
      <!-- 메시지 출력 -->
      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message|safe }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </header>
    <div class="main">
      <div class="a-container" id="a-container">
        <!-- 비밀번호 재설정 폼 -->
        <form class="form" id="reset-password-form" method="POST" action="">
          {% csrf_token %}
          <h2 class="form_title title">새 비밀번호 설정</h2>

          <span class="form__span">새 비밀번호를 입력하세요.</span>

          <label for="new_password1">새 비밀번호</label>
          <input class="form__input" id="new_password1" name="new_password1" type="password" placeholder="새 비밀번호" required />

          <label for="new_password2">새 비밀번호 확인</label>
          <input class="form__input" id="new_password2" name="new_password2" type="password" placeholder="새 비밀번호 확인" required />

          <button class="form__button button submit" type="submit">비밀번호 재설정</button>
        </form>
      </div>
    </div>
  </body>
</html>
