{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
</head>
<body>
    <div class="main">
        <div class="a-container" id="a-container">
            <form>
                <h2>비밀번호 재설정 이메일이 발송되었습니다.</h2>
                <p>이메일을 확인하시고, 비밀번호 재설정을 완료해 주세요.</p>
                <a href="{% url 'login_view' %}" class="btn">로그인 페이지로 돌아가기</a>
            </form>
        </div>
    </div>
</body>
</html>
